<h1 class="head1">Welcome To Assetmonk..!</h1>

<!--navigationbar starts here-->
<!-- <div class="row">
	<div class="container">
		<div class="logo">
			<h2>Assetmonk</h2>
		</div>

		<div class="menu">
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Services</a></li>
					<li><a href="">Portfolio</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</nav>
		</div>
		<div class="clear"></div>
	</div>
</div>


<div class="form-group-row">
	<label>Name Of Company</label>
	<ng-select [items]="cars" bindLabel="name" bindValue="id" placeholder="select Country Name">
	</ng-select>
</div>

<app-login></app-login> -->